// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // //
// Style file for grid system. Check top comments in _grid.scss file
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // //
.cl-3{
    min-width: calc( 100% - 10px );
}
.cl-4{
    min-width: calc( 50% - 10px );
}
.cl-44{
    min-width: calc( 100% - 10px );
}