// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // //
//
// Grid system default styles.
//
// Media sizes are named with prefix "-size". max-width: 992 file is _grid-992.scss
//
// SASS variabels are in responsive-base.scss file. Whole css file is parsed together there
//
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // //
.cl-1, .cl-2, .cl-3, .cl-33, .cl-4, .cl-44, .cl-444{
	min-height: 0px;
	float: left;
	margin: 5px;
	box-sizing: border-box;
	border: 1px solid rgba( 0, 0, 0, 0.1 );
	border-radius: 5px;
	background-color: white;
	overflow: visible;
}
// Margin left/right is 10px in total. Final width needs to be calculated with "- 10px";
.cl-1{
	width: calc( 100% - 10px );
}
.cl-2{
	width: calc( 50% - 10px );
}
.cl-3{
	width: calc( 33.33% - 10px );
}
.cl-33{
	width: calc( 66.66% - 10px );
}
.cl-4{
	width: calc( 25% - 10px );
}
.cl-44{
	width: calc( 50% - 10px );
}
.cl-444{
	width: calc( 75% - 10px );
}

// "Group container" for grid elements.
// Adds little margin top/bottom to first/last grids in this container
.cl-group{
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
	overflow:hidden;
}