// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // //
//
// Grid system default styles.
//
// Media sizes are named with prefix "-size". max-width: 992 file is _grid-992.scss
//
// SASS variabels are in responsive-base.scss file. Whole css file is parsed together there
//
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // //

// "Group container" for grid elements.
// Adds little margin top/bottom to first/last grids in this container
.cl-group{
	margin: 15px 0;
	width: 100%;
	max-width: 100%;
	float: left;
	overflow: visible;
	// flex
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.cl-1, .cl-2, .cl-3, .cl-33, .cl-4, .cl-44, .cl-444{
	max-width: 100%;
	min-height: 0px;
	margin: 5px;
	padding: 10px 5px;
	background-color: white;
	overflow: visible;
	// flex
	flex: 1;
}

// Margin left/right is 10px in total. Final width needs to be calculated with "- 10px";
.cl-1{
	min-width: calc(100% - 10px);
}
.cl-2{
	min-width: calc(50% - 10px);
}
.cl-3{
	min-width: calc( 33.33% - 10px );
}
.cl-33{
	min-width: calc( 66.66% - 10px );
}
.cl-4{
	min-width: calc( 25% - 10px );
}
.cl-44{
	min-width: calc( 50% - 10px );
}
.cl-444{
	min-width: calc( 75% - 10px );
}

$panel-color: rgb(158, 158, 158);
.cl-panel{
	border: 2px solid $panel-color;
	border-radius: 5px;
	overflow: visible;
}
.cl-panel-header, .cl-panel-content{
	width: auto;
	height: auto;
	border: 2px solid $panel-color;
	padding: 10px 5px;
	border-radius: 5px;
	overflow: visible;
}
.cl-panel-header{
	text-align: center;
	margin: -12px -6px 0 -6px;
}
.cl-panel-content{
	margin: -2px -6px -12px -6px;
}