// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // //
//
// NavBar default styles above all media widths.
//
// NavBar have navbar-breakpoint.scss file that collapses NavBar into compact view.
// Insert @import 'navbar-breakpoint' into media width that collapses it.
//
// SASS variabels are in responsive-base.scss file. Whole css file is parsed together there.
//
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // //
#navbar-container{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100000;
	height: $navbar-height;
	font-family: Georgia, 'Times New Roman', Times, serif;
	background-color: $navbar-color;
	font-size: 14pt;
	a{
		display: block;
		padding: 0 15px;
		text-decoration: none;
		line-height: $navbar-height;
		color: $navbar-color-hover;
		background-color: $navbar-color;
	}
	#navbar-logo{
		float: left;
		a{
			font-size: 25pt;
		}
	}
	.navbar-ul{
		list-style: none;
		float: left;
		li{
			float: left;
			position: relative;
			.navbar-nested-collapser{
				cursor: pointer;
			}
			.navbar-nested-collapser:after{
				padding-left: 5px;
				content: '▾';
			}
			.navbar-nested{
				position: absolute;
				height: 0;
				overflow: hidden;

				-webkit-transition: height 200ms ease-in;
                -moz-transition: height 200ms ease-in;
                -o-transition: height 200ms ease-in;
                transition: height 200ms ease-in;
				li {
					min-width: 200px;
					width: 100%;
					a{
						width: 100%;
						float: left;
						line-height: $navbar-height;
						white-space: nowrap;
						border-left: 5px solid $navbar-color-hover;
					}
				}
			}
		}
	}
	li.selected a, a.selected, a.active, a:hover{
		color: $secondary-color;
		background-color: $navbar-color-hover;
	}
	#navbar-collapser{
		display: none;
	}
}