#navbar-container{
    height: auto;
    max-height: 100vh;
    overflow-y: scroll;
    font-size: 12pt;
    #navbar-logo{
        a{
            padding: 0 5px;
            font-size: 20pt;
        }
    }
    .navbar-ul{
        width: 100%;
        height: 0;
        overflow: visible;

        -webkit-transition: height 300ms ease-in;
        -moz-transition: height 300ms ease-in;
        -o-transition: height 300ms ease-in;
        transition: height 300ms ease-in;

        li{
            width: 100%;
            .navbar-nested{
                position: relative;
                width: 100%;
                li{
                    width: 100%;
                }
            }
        }
    }
    #navbar-collapser{
        display: block !important;
        position: absolute;
        top: 0;
        right: 0;
        line-height: $navbar-height;
        text-align: center;
        font-size: 30pt;
        cursor: pointer;
    }
}