$primary-color: rgb( 220, 235, 255 );
$secondary-color: rgb( 245, 245, 245 );
$navbar-logo-size: 30px;
$navbar-height: 50px;
$navbar-color: rgb( 245, 245, 245 );
$navbar-color-hover: rgb( 110, 110, 110 );

// Reset browser specific stuffs
@import 'reset';
// Navbar elements default styles
@import 'navbar';
// Grid elements default styles
@import 'grid';


/* Medium Devices, Desktops */
@media only screen and ( max-width : 992px ) {
	@import 'grid-992';
}
/* Small Devices, Tablets */
/* COLLAPSED NAVBAR*/
@media only screen and ( max-width : 768px ) {
	// Collapses NavBar into compact view in this media width.
	@import 'navbar-breakpoint';
	
	@import 'grid-768';
}

/* Extra Small Devices, Phones */ 
@media only screen and ( max-width : 480px ) {
	@import 'grid-480';
}

/* Custom, iPhone Retina */ 
@media only screen and ( max-width : 320px ) {
	@import 'grid-320';
}


/*
	Some optional classes for easy fast css stuffs.
	Loads at end so it will override default values.
*/
.primary{
	background-color: $primary-color;
}
.secondary{
	background-color: $secondary-color;
}
/* float classes. Override with !important; */
.left{
	float: left !important;
}
.right{
	float: right !important;
}
.text-pre{
	white-space: pre-wrap;
}