$primary-color: rgb( 220, 235, 255 );
$secondary-color: rgb( 245, 245, 245 );
$navbar-logo-size: 30px;
$navbar-height: 50px;
$navbar-color: rgb( 245, 245, 245 );
$navbar-color-hover: rgb( 110, 110, 110 );

// Reset browser specific stuffs
@import 'reset';
// Navbar elements default styles
@import 'navbar';
// Grid elements default styles
@import 'grid';

// Image
.rb-img-container{
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	position: relative;
	border: 2px solid $navbar-color;
	background-color: $navbar-color;
}
.rb-img-container:hover{
	border: 2px solid $navbar-color-hover;
	background-color: $navbar-color-hover;
}
.rb-img{
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}


/* Medium Devices, Desktops */
@media only screen and ( max-width : 992px ) {
	@import 'grid-992';
}
/* Small Devices, Tablets */
/* COLLAPSED NAVBAR*/
@media only screen and ( max-width : 768px ) {
	// Collapses NavBar into compact view in this media width.
	@import 'navbar-breakpoint';
	
	@import 'grid-768';
}

/* Extra Small Devices, Phones */ 
@media only screen and ( max-width : 480px ) {
	@import 'grid-480';
}

/* Custom, iPhone Retina */ 
@media only screen and ( max-width : 320px ) {
	@import 'grid-320';
}


/*
	Some optional classes for easy fast css stuffs.
	Loads at end so it will override default values.
*/
.primary{
	background-color: $primary-color;
}
.secondary{
	background-color: $secondary-color;
}
/* float classes. Override with !important; */
.left{
	float: left !important;
}
.right{
	float: right !important;
}
.text-pre{
	white-space: pre-wrap;
}